<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>How to create a popup with CSS and Javascript | WebDesignAndSuch</title>
<link href="resources/css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="resources/js/css-pop.js"></script>
<script src="resources/js/script.js"></script>
</head>


</head>

<body   onload="popup('popUpDiv')">

<div id="container">


<div align="center"><a href="http://www.webdesignandsuch.com"><img src="resources/images/wds-demo.png" style="margin-top:0px"/></a>    </div>
  <div id="mainContent">
  
  
  
  
<p>This is a demo of how <strong>CSS can be used to create a popup</strong>. The old ways of creating popups by opening a new browser window is no longer a good solution since browsers block popups. </p>
    <p>This page is set to open the popup when it's loaded (<strong>onload</strong>), and by clicking the link below you can also open the popup (<strong>onclick</strong>), giving you a couple different options to trigger the CSS popup.    </p>
    
    
    
<!--POPUP-->    
    
    <div id="blanket" style="display:none;"></div>
	<div id="popUpDiv" style="display:none;">
    
<!--     	<a href="#" onclick="popup('popUpDiv')" >Click to Close CSS Pop Up</a> -->
	</div>	
  <a href="#popup1" onclick="popup('popUpDiv')">Click to Open CSS Pop Up</a>
<!-- / POPUP-->     
    
    <p>&nbsp;</p>
    <p>Check out the tutorial here to find out what's going on and to download the files you need to create your own CSS popup window. </p>
    <p>   <a href="http://webdesignandsuch.com/2009/12/how-to-create-a-popup-with-css-and-javascript/" >Tutorials &amp; Downloadable Files</a></p>
    
    
    
    
    <!-- end #mainContent --></div>
<!-- end #container --></div>






</body>
</html>






